<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Details</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <%- include('../../partials/modal-styles') %>

  <div class="modal-content-wrapper">
    <h2>User Details</h2>
    
    <div class="details-group">
      <div class="details-label">ID</div>
      <div class="details-value"><%= user.id %></div>
    </div>
    
    <div class="details-group">
      <div class="details-label">Name</div>
      <div class="details-value"><%= user.first_name %> <%= user.last_name %></div>
    </div>
    
    <div class="details-group">
      <div class="details-label">Email</div>
      <div class="details-value"><%= user.email %></div>
    </div>
    
    <div class="details-group">
      <div class="details-label">Role</div>
      <div class="details-value"><%= user.role %></div>
    </div>
    
    <div class="details-group">
      <div class="details-label">School ID</div>
      <div class="details-value"><%= user.school_id || 'N/A' %></div>
    </div>
    
    <div class="button-group">
      <a href="/admin/users/<%= user.id %>/edit" class="btn btn-warning" data-modal="true">Edit</a>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</body>
</html>
